NEXT_PUBLIC_SUPABASE_URL=https://owofuyhihrjbwkdvfgzp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_REF=owofuyhihrjbwkdvfgzp
NEXT_PUBLIC_STORE_NAME=Hardware Pro Supply & Co.
NEXT_PUBLIC_CURRENCY_SYMBOL=$
